@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Open+Sans+Condensed:300&display=swap');

/* BEGIN STYLE THAT APPLIES THE WHOLE PAGE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body,
html,
main {
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%;
  margin: 0;
}


/*button styling */
 .button {
   margin-top: 10px;
   background-color: #c46e83;
   text-decoration: none;
 }

/* BEGIN NAV BAR STYLE */
.navbar {
  /*font-family: "Big Shoulders Display", sanserif;*/
  padding:0;
  z-index: 1;
  font-size: 18px;
  background-color: #c46e83;
  position: fixed;
  width: 100%;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  font-size: 28px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

#js-navbar-toggle{
  display: block;
}
/** RESPONSIVE STYLE FOR NAV BAR */
@media screen and (min-width: 1120px) {

  #js-navbar-toggle{
    display: none;
  }

  .main-nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
    flex-flow: row nowrap;
  }


  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding-bottom: 0px;
  }
}
/* END NAV BAR STYLE */

/** BEGIN STYLE FOR THE LANDING PORTION OF THE PAGE */
#landing {
  display: flex;
  flex-flow: row;
  color: white;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  margin: 0;
  height: 100%;
  
  text-align: center;
  background:#c46e83;
  border-top:40px solid #c46e83; 

}

#val {
  align-self: flex-end;
  margin-right:20px;
  width: 26%;
}

#front-text {
  width: 60%;
}

.valLogo {
  align-self: center;
  height: 100px;
}

#landing h1 {
  font-size: 40pt;
  font-family: "Big Shoulders Display", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

#landing h2 {
  font-family: "Open Sans Condensed", sans-serif;
}

#cont {
  font-family: "Open Sans", sans-serif;
}

/*for desktop */
@media screen and (max-width: 1120px) {
  #landing {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #front-text {
    width: 100%;
  }

  #val {
    display: none;
  }
}

/* END  basic styling for landing page */

/*
 border-top:60px solid #fff; 

  border-top: 40px solid white; 
*/
/*border for all anchor links */ 
#resume, #about, #portfolio #contact {
  min-height: 100%;
  border-top:60px solid white; 
  display:flex;
}

#resume {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#resume img{
  height: auto;
  width: 60%;
   border: solid black 1px;
  margin-top: 20px;
}
#resume a {
  border-radius: 25%;
}

/*applied to multiple sections */



/* BEGIN PORTFOLIO STYLE */



/*END PORTFOLIO SECTION*/

/*BEGIN ABOUTR */

/*End about */

/*being contact */
/*end contact*/ 



/*border bottom for the resume about port and contact pages  and landing */ 
/*for mobile  */
@media screen and (max-width: 1120px) {
  #resume, #about, #portfolio, #contact {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
  }

  #resume img {
    width: 95%;
    height:auto;
    margin-bottom:2%;
  }
}

/* BEGIN Style for the scroll indicator */
/* TODO MAKE THE SCROLL INDIATOR NOT VISIBE OVER NAV **/
.box span {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* END STYLE FOR SCROLL INDICATOR ANIMATION */


#wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left:auto;
  margin-right:auto;
  width: 95%;
  justify-content: center;
  overflow: hidden;
}


.image-container {
  float: left;
  vertical-align: middle;
  width: 500px;
  height: 500px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  position: absolute;
}


.image-caption {
    vertical-align: middle;
    margin-top:auto;
    margin-bottom:auto;
  width: 100%;
  height: 100%;
  background: rgba(196, 110, 132, 0.9);
  position: relative;
  color:white;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}


.image-caption p {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%;
  height: 30%;
  margin: -15% 0 0 -25%;
  text-align: center;
  font-size: 25pt;
}

.image-container:hover .image-caption {
  opacity: 1;
}



#portfolio {
  background-color: white;
  min-height: 100%;
 border-top: 60px solid white; 

}

#portfolio h2 {
  font-size: 30pt;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Big Shoulders Display", sans-serif;
}

/*EEEEEEEEPPP*/

@media all and (min-width: 0px) and (max-width: 600px) {
  #wrapper {
    flex-flow: column wrap;
    width: 100%;
    overflow: hidden;
  }

  .image-container {
    width: 450px;
    height: 450px;
    margin-left:auto;
    margin-right:auto;
  }
  .image-caption p {
    font-size: 20pt;
  }
}
@media all and (min-width: 0px) and (max-width: 520px) {
  .image-container {
    width: 350px;
    height: 350px;
    margin-left:auto;
    margin-right:auto;
  }
  .image-caption {
    font-size: 12pt;
  }
}
@media all and (min-width: 0px) and (max-width: 400px) {
  .image-container {
    width: 300px;
    height: 300px;
    margin-left:auto;
    margin-right:auto;
  }
  .image-caption p{
    font-size: 15pt;
  }
}
@media all and (min-width: 0px) and (max-width: 350px) {
  .image-container {
    width: 250px;
    height: 250px;
    margin-left:auto;
    margin-right:auto;
  }
  .image-caption p{
    font-size: 12pt;
  }
}

@media all and (min-width: 0px) and (max-width: 300px) {
  .image-container {
    width: 200px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
  }
  .image-caption p{
    font-size: 10pt;
  }
}

@media all and (min-width: 0px) and (max-width: 260px) {
  .image-container {
    width: 200px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
  } .image-caption p{
    font-size: 10pt;
  }
}

@media all and (min-width: 0px) and (max-width: 200px) {
  .image-container {
    width: 150px;
    height: 150px;
    margin-left:auto;
    margin-right:auto;
  } .image-caption p{
    font-size: 8pt;
  }
}
 