@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Open+Sans+Condensed:300&display=swap');

/* BEGIN STYLE THAT APPLIES THE WHOLE PAGE or multiple sections */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  margin:0;
  padding:0;
}

body, html, main {
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%;
  margin: 0;
}

h2 {
  font-family: "Big Shoulder Display", sans-serif;
}

#about h2, #portfolio h2, #text-view h2, .text-view h2 {
  margin-bottom: 30px;
} 

#about h2, #text-view h2, .text-view h2{
  
  text-align: center;
  font-size: 30pt;
  
}


#about, #contact, #portfolio {
  border-top:60px solid white; 
  background-color: white;
  text-align: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

#text-view, .text-view {
  border-top:60px solid white; 
  background-color: white;
  text-align: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}


@media screen and (max-width: 1120px) {
  #about, #portfolio, #contact, #text-view, .text-view {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
  }

  #about h2 {
    margin-left: 0;
    
  }

}

/*button styling */
 .button {
  color: white;
  font-size: 12pt;
  border-radius:28px;
	border:1px solid;
	display:inline-block;
	cursor:pointer;
	padding:10px 20px;
	text-decoration:none;
   background-color: #AC0067;
   text-align: center;
 }

/* BEGIN NAV BAR STYLE */
.navbar {
  padding-bottom: 1%;
  z-index: 1;
  font-size: 18pt;
  background-color: #AC0067;
  position: fixed;
  width: 100%;
  
}

.main-nav {
  list-style-type: none;
  display: none;
}
#big {
  height: 30px;
}
.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav {
  background-color: #AC0067;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo  {
  font-size: 28px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

#js-navbar-toggle{
  display: block;
  padding-top: .5%;
}

/** RESPONSIVE STYLE FOR NAV BAR */
@media screen and (min-width: 1120px) {
  #js-navbar-toggle{
    display: none;
    padding-top: 0;
  }

  .main-nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
    flex-flow: row nowrap;
  }

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding-bottom: 0px;
  }
}

/** BEGIN STYLE FOR THE LANDING PORTION OF THE PAGE */
#landing {
  display: flex;
  flex-flow: row;
  color: white;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  margin: 0;
  height: 100%;
  text-align: center;
  background:#AC0067;
  border-top:40px solid #AC0067; 
}

#landing h1 {
  font-size: 40pt;
  font-family: "Big Shoulders Display", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

#landing h2 {
  text-align: center;
  font-size: 15pt; 
  font-family: "Open Sans Condensed", sans-serif;
}

#val {
  align-self: flex-end;
  margin-right:20px;
  width: 26%;
}

#front-text {
  width: 60%;
}

.valLogo {
  width: 10%;
}

.box span {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
   100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media screen and (max-width: 1120px) {
  #landing {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #front-text {
    width: 100%;
  }

  #val {
    display: none;
  }
}
/**^ LANDING **/


#about img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#text-view img, .text-view img {
  width: 50%;
  height: 50%;
 
}

#about-info, #text-view, .text-view-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: left;
  margin-left: auto;
  margin-right:auto;
}

#about-info p, .text-view-info p {
  margin-left: 10%;
  font-size:14pt;
}

@media screen and (max-width: 1120px) {
  #resume, #about, #portfolio, #contact {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
  }
  #about img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }


  #about-info, .text-view-info  {
    margin-left: 0;
    max-height: 100%;
    padding: 5%;
  }
  #about-info p, #about-info h2, .text-view-info p, .text-view-info h2 {
    margin-left: 0;
    font-size:14pt;
  }
}


/** PORTFOLIO SECTION **/
/**hover animation **/
#wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left:auto;
  margin-right:auto;
  width: 95%;
  justify-content: center;
  /*overflow: hidden;
*/} 

.image-container {
  position: relative;
  width: 300px;
  margin-left:2.5px;
  margin-right: 2.5px;
}

#image-container > img {
  display: block;
  width: 100%;
  height: auto;
}

.image-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 98%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ac0067b7;
}

.image-container:hover .image-caption {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
/**End hover animation **/

#portfolio h2 {
  text-align: center;
  margin-top: 10px;
}


/* BEGIN STYLE CONTACT SECTION */


#flexy {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
  padding:5%;
}

#sm {
  width: 40%;
}

#contact > form {
  margin-top: 5px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5px;
  width: 80%;
}

#contact, #portfolio {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* END STYLE CONTACT SECTION */

/* BEGIN STYLING FOR THE MAIL FORM */
input[id=first],
input[id=last] {
  width: 50%;
}

input[type=email],
input[id=sub],
textarea {
  width: 100%;
}

textarea {
  height: 150px;
}

textarea,
input[type=email],
input[id=sub],
input[id=first],
input[id=last] {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 12pt;
}

#names {  /* for first and last name entry boxes */
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}



@media screen and (max-width: 1120px) {
  #flexy {
    flex-flow: column;
  }
  #about-info, .text-view-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #text-view img, .text-view img {
    width: 60%;
    height: 60%;
    
  }
  
}

#sm {
  font-size: 13pt;
}

#sm > p {
  padding: 5%;
  padding-top: 0;
  font-size: 15pt;
}

#sm > a {
  text-align : center;
   text-decoration: none;
   color: black;
   font-size: 30px;
   padding:  5px;

}

#email h3 {
  padding-bottom: 10px;
  font-size: 20pt;
}

#sm h3 {
  font-size: 20pt;
  margin-top: 0px;
}


@media screen and (max-width: 1120px) {
  #sm {
    width: 80%;
    margin-bottom: 40px;
  }

   #style-tile {
    display: none;
  }

  #text-view h2, .text-view h2 {
    font-size: 25pt;
  }
}
/* END STYLING FOR CONTACT  FORM */


/*** NIGHT OWL PAGE **/
h2 {
  font-size: 30pt;
  text-align: center;
  font-family: "Big Shoulders Display", sans-serif;
}

h3 {
  font-size: 25pt;
  text-align: center;
  font-family: "Big Shoulders Display", sans-serif;
}



.logo {
  padding-bottom: 5px;
}


/** begin project description styles **/

img {
   width: 100%;
   margin-left:auto;
   margin-right:auto;
}

.hidden {
  display: none !important;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

}

.links p {
  font-size: 12pt;
  margin:0;
}

@media screen and (min-width: 1120px) {
#text-view h2 {
  margin-left: 0;
}
}
#about-info p {
  margin-left: 10%;
  margin-right: 5%;
}