@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Open+Sans+Condensed:300&display=swap');

/* BEGIN STYLE THAT APPLIES THE WHOLE PAGE or multiple sections */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  margin:0;
  padding:0;
}

body, html, main {
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%;
  margin: 0;
}

.navbar-collapse {
  justify-content: right;
}

.navbar {
  
}