p {
    font-size: 12spt;
    padding-top: 10px;
    padding-bottom:10px;
}


/*a{ 
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}*/

img {
     width: 100%;
     margin-left:auto;
     margin-right:auto;
}


#home-screen {
    width: 30%;
    padding-right:50px;
    margin: 0;
    font-size: 12pt;
}

#owlLogo {
    width:10%;
}

#bleep {
    width: 50px; display: block;
}
#home {
    min-height: 80%;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border-top:60px solid white;
}

#info {
    text-align: left;
    width: 50%;
    
}

#interview a, #observ a {
    margin: 1%;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#interview, #prob, #observ, #comp, #persona, #map, #dr, #story, #ia, #pp,  #refine, #wf, #final, #reflect, #NOabout{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*#interview h2, #observ h2, #comp h2, #persona h2 { */
h2 { 
    text-align: left;
    font-size: 16pt;
}

#pitch h2 {
    text-align: center;
    font-size: 20pt;
    margin-bottom: 20pt;
}

#dr img {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    display: block;

}
#persona img {
    margin: 10px;
}

#refine li, #pp li, #interview li, #observ li, #reflect li, #reflect em  {
    list-style-type: none;
}

.ca, #observ a,#observ a, #persona a, #dr a, #ia a, #pp a, #final a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}

#ia a, #dr a, #persona a, #pp a, #observ a {
    width: 30%;
}
/*
#observ a, #persona a {
    margin-top: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}*/
.ca img {
    height: 40px;
    width: 40px;
}

#comp a {
    font-size: 10pt;
    color: black;
    width: 100px;
    padding-bottom: 1px;
    text-decoration: none;
    text-align: center;
}



#observ img, #persona img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width: 992px) {
    #home {
      height: 100%;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }

    #home-screen {
        display: none;
    }

    #interview h2 {
         padding:0;
    }

    #info {
        text-align: center;
        width: 60%;
    }
    p {
        font-size: 10pt;
    }
}

.slides {
    width: 960px;
    height: 569px;
}


#bios {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
}

.card {
    width: 200px;

}


.slides {
    width: 800px;
    height: 569px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
    display:block;
 }

#NOabout h2 {
    text-align:  center;
}

@media screen and (max-width: 992px) {
    .slides {
        width:  300px ;
        height: 200px;
    }

    #high {
        height:  350px;
        Width: 250px;
    }

}

#high {
    display: block;
    margin-left:auto;
    margin-right:auto;
}


#persona img {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
