@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Open+Sans+Condensed:300&display=swap');

html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

h1,h2,h3,h4 {
  font-family: 'Big Shoulders Display', 'arial', 'sans';
  margin:0;
  }

  h2 {
    margin-bottom:  10px;
  }


a {
  color: #000;
}

.header {
  background: #fff;
  color: #000;
  height: auto;
  padding: 30px 30px 30px;
  display:flex;
  flex-flow:column;
  align-items: center;
  justify-content: centerf;
}

.header h1 {
  font-size: 50px;
  }

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 250px;
  height: 350px;
  overflow: hidden;
  float: left;
}

.assignment:hover { overflow:auto }

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}

.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}


.widebody a {
}

.widebody a:hover {
  background: #AC0067;
  color: #FFF;
  text-decoration: none;
}

.ass-head1 {
  color:red;
  text-align: center;
  font-size: 20pt;
}
.ass-head2 {
  color: blue;
  text-align: center;

}

img {
  width: 100%;
  margin-left: auto;
  margin-right:auto;
}
/*button styling */
.button {
  color: white;
  font-size: 12pt;
  border-radius:28px;
	border:1px solid;
	display:inline-block;
	cursor:pointer;
	padding:10px 20px;
	text-decoration:none;
   background-color: #AC0067;
   text-align: center;
 }
figure {
  margin: 0px;
  text-align: center;
}
pre {
  font-size: 8pt;
}
#schematic {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}
br {
  height: 10%;
}